TP3/CalculatriceServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://org.lip6.fr/calculatrice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CalculatriceServiceService" targetNamespace="http://org.lip6.fr/calculatrice">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://org.lip6.fr/calculatrice" elementFormDefault="unqualified" targetNamespace="http://org.lip6.fr/calculatrice" version="1.0">

  <xs:element name="add" type="tns:add"/>

  <xs:element name="addResponse" type="tns:addResponse"/>

  <xs:element name="multiplier" type="tns:multiplier"/>

  <xs:element name="multiplierResponse" type="tns:multiplierResponse"/>

  <xs:complexType name="add">
    <xs:sequence>
      <xs:element name="Operande1" type="xs:double"/>
      <xs:element name="Operande2" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addResponse">
    <xs:sequence>
      <xs:element name="Resultat" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="multiplier">
    <xs:sequence>
      <xs:element name="Operande1" type="xs:double"/>
      <xs:element name="Operande2" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="multiplierResponse">
    <xs:sequence>
      <xs:element name="Resultat" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="multiplierResponse">
    <wsdl:part element="tns:multiplierResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part element="tns:add" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplier">
    <wsdl:part element="tns:multiplier" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Calculatrice">
    <wsdl:operation name="add">
      <wsdl:input message="tns:add" name="add">
    </wsdl:input>
      <wsdl:output message="tns:addResponse" name="addResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplier">
      <wsdl:input message="tns:multiplier" name="multiplier">
    </wsdl:input>
      <wsdl:output message="tns:multiplierResponse" name="multiplierResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatriceServiceServiceSoapBinding" type="tns:Calculatrice">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <soap:operation soapAction="urn:additionner" style="document"/>
      <wsdl:input name="add">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplier">
      <soap:operation soapAction="urn:multiplier" style="document"/>
      <wsdl:input name="multiplier">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="multiplierResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatriceServiceService">
    <wsdl:port binding="tns:CalculatriceServiceServiceSoapBinding" name="CalculatriceServicePort">
      <soap:address location="http://localhost:8080/TutoWebService/CalculatriceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>